<div class="modal-header">
  <div class="header-create-content">
    <div class="header-create-text">
      <!--  <span class="material-icons">pen</span> -->
      Dicionário
    </div>
    <span class="material-icons" style="cursor: pointer !important" (click)="modalRef.hide()">close</span>
  </div>
</div>
<div class="modal-body">
  <div class="col">
    <div class="row">
      <div class="col-md-12">
        <label>Título</label>
        <input type="text" class="form-control"  [(ngModel)]="dictionary.name" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <input type="color" class="form-control-color" [(ngModel)]="dictionary.colorButton"/>
        Cor de fundo do botão
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <input type="color" class="form-control-color" [(ngModel)]="dictionary.fontColorButton"/>
        Cor da fonte do botão
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <input type="color" class="form-control-color" [(ngModel)]="dictionary.colorTitle"/>
        Cor da fonte para títulos
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <input type="color" class="form-control-color" [(ngModel)]="dictionary.iconColor"/>
        Cor do ícone
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" (click)="onCreate()">Salvar</button>
  </div>
</div>
