<div class="header-content">
  <img src="../../assets/images/header.png" alt="" />
</div>
<div class="body-content">
  <div class="header-body">
    <span>Palavra</span>
    <app-button-add-texts
      [id]="id"
      (onRefresh)="handleRefresh()"
    ></app-button-add-texts>
  </div>
  <app-edit-dictionary-texts-table
    #textsTable
    [filteredTexts]="(texts$ | async)!"
    [texts]="(texts$ | async)!"
    (onRefresh)="handleRefresh()"
  ></app-edit-dictionary-texts-table>
  <div class="d-flex justify-content-center align-items-center">
    <app-paginator
      (sendLetter)="textsTable.filterTexts($event)"
    ></app-paginator>
  </div>
</div>
