@import "../../../node_modules/material-icons/iconfont/material-icons.css";

body{
  padding: 0;
  margin: 0;
}

.header-content{
  margin-left: -10px;
  margin-top: -10px;
  width: 100vw;
  height: 250px;

  img{
    width: 100vw;
  }
}

.body-content{
  margin: auto;
  width: 80vw;

  .header-body{
    display: flex;
    justify-content: space-between;

    span{
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}