<div class="modal-header">Editar Dicionário</div>
<div class="modal-body">
  <div class="col">
    <div class="row">
      <div class="col-md-12">
        <label>Título</label>
        <input type="text" class="form-control" [(ngModel)]="rowData.name" />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <input
          type="color"
          class="form-control-color"
          [(ngModel)]="rowData.colorButton"
        />
        Cor de fundo do botão
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <input
          type="color"
          class="form-control-color"
          [(ngModel)]="rowData.fontColorButton"
        />
        Cor da fonte do botão
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <input
          type="color"
          class="form-control-color"
          [(ngModel)]="rowData.colorTitle"
        />
        Cor da fonte para títulos
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <input
          type="color"
          class="form-control-color"
          [(ngModel)]="rowData.iconColor"
        />
        Cor do ícone
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="d-flex justify-content-end">
    <button class="btn btn-default mr-2" (click)="modalRef.hide()">
      Cancelar
    </button>
    <button class="btn btn-primary" (click)="onUpdate()">Salvar</button>
  </div>
</div>
